@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  cursor: pointer;
  width: 1200px;
  height: 100px;
}

body {
    margin: auto;
    max-width: max-content;
    /*background-image: url('../resources/Images/bg_battleship.jpg');*/
}

#gamecode{
  cursor: pointer;
  width: 1200px;
  height: 100px;
}

/*
.grid-container{
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
}
*/
  /*
.grid-container-child{
  background-color: red;
}
*/

.grid-child{
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

.shippart{
  border: 1px solid black;
  width: 50px;
  height: 50px;
  background-color: aquamarine;
}

#shiptoplace{
  top: 20px;
}

#ships{
  top: 20px;
}

.ship{
  top: 20px;
}
